<% include ./partials/header.ejs %>


<div id="wrapper">
  <div class="container">
  	
  	<div class="row">
  		
  		<div class="mt-5 col-12">
  			<h3 class="mt-5">SkateSpot</h3>
  		</div>

  		<div class="col-12">
  			<p id="present">Wszystkie spoty w jednym miejscu</p>
  		</div>

  	</div>

  	<div class="row mt-5">

  		<div class="col-md-4 offset-md-6">
  			<p id="quick-start">Szybki start</p>
  		</div>
  		<div class="w-100"></div>
  		<div id="line" class="col-md-6 offset-md-6 mt-1 mb-3"></div>
  		<div class="w-100"></div>
  		<div class="col-md-3 offset-md-6">
  			<a class="quick-button mb-2" href="/spot/add">Dodaj<i class="ml-2 fas fa-plus-circle"></i></a>
  		</div>
  		<div class="col-md-3">
  			<a class="quick-button mb-2" href="/spot/all">Przeglądaj<i class="ml-2 fas fa-book-open"></i></a>
  		</div>
  		<!-- <div class="col-md-2">
  			<a class="quick-button mb-2" href="">Szukaj<i class="ml-2 fas fa-search"></i></a>
  		</div> -->

  	</div>

  </div>
</div>
<footer>
  <div id="footer" class="container-fluid">
     
  
  <div  class="container pt-3 pb-3">
    <div class="row justify-content-center">

      <div class="col-12 text-center"><i class="social-media fab fa-facebook-square mr-1"></i>
        <i class="social-media fab fa-instagram ml-1"></i>
      </div>

    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-12 text-center">
        <p>Kontakt: skatespot@gmail.com</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <p>Wszelkie prawa zastrzeżone &copy SkateSpot by Mikołaj Piekutowski</p>
      </div>
    </div>
  </div>
   </div>
   </footer>


<% include ./partials/footer.ejs %>