<% include ./partials/header.ejs %>


<div  id="full-height" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <p class="h1 mb-3">Zarejestruj się</p>

      <form method="POST" action="/auth/register">
  <div class="form-group">
    <label for="exampleInputEmail1">Adres email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nazwa Użytkownika</label>
    <input name="username" type="text" class="form-control"  placeholder="Nazwa">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Hasło</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Powtórz hasło</label>
    <input name="repeatPassword" type="password" class="form-control" placeholder="Hasło">
  </div>
  <p>Masz już konto? <a href="/auth/login">Zaloguj się tutaj</a></p>
  <button type="submit" class="btn btn-block btn-primary">Zarejestruj</button>
</form>
    </div>
    <div class="w-100 mt-5"></div>
    <!-- <div class="col-md-6">
      <a href="/auth/facebook" class="auth-block"><button type="button" id="fb-login" class="btn btn-lg btn-block"><div class="d-flex justify-content-between">
        <div class="small"><i class="fab fa-facebook-f text-white"></i></div>
        <div class="small text-white">Rejestracja przez Facebook'a</div>
        <div class="p-1"></div>
      </div></button></a>
      <a href="/auth/google" class="auth-block mt-2"><button type="button" id="gplus-login" class="btn btn-lg btn-block"><div class="d-flex justify-content-between">
        <div class="small"><i class="fab fa-google-plus-g text-white"></i></div>
        <div class="small text-white">Rejestracja przez Google Plus</div>
        <div class="p-1"></div>
      </div></button></a>
    </div> -->
  </div>
</div>




  <% include ./partials/footer.ejs %>