html, body{
	height:100%;
}

#wrapper{
	background-image: url('/img1.jpg');
	width:100%;
	height:100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:0 100%;
}

h3{
	opacity: 1;
	color:black;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight:400;
	font-size:3rem;
	color: #ff0e9f;
}

#present{
	opacity: 1;
	color:black;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:1.3rem;
	color:#00ff4e;
}

#quick-start{
	color:rgb(255, 255, 255);
	opacity: 1;
	font-size:1.1rem;
	margin-bottom: 0;
}

.quick-button{
	color:black;
	text-decoration: none;
	background: rgba(255,255,255, 0.8);
	border-radius:8px;
	display:block;
	width:100%;
	text-align:center;
	padding: 6px 0;
	font-size:1rem;
	
	transition:all ease-in-out .3s;
}

.quick-button:hover{
	color:white;
	border:1px solid white;
	border-radius:8px;
	background: rgba(255,255,255, 0.2);
}

#line{
	height:1px;
	background-color: black;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(145,145,145,0.5);
-moz-box-shadow: 1px 1px 1px 1px rgba(145,145,145,0.5);
box-shadow: 1px 1px 1px 1px rgba(145,145,145,0.5);
}



@media (max-width: 650px){

	#wrapper{
	background-position:25% 100%;
}
}

@media (max-width: 500px){

	#wrapper{
	background-position:40% 120%;
}

}

@media (max-width: 768px){

	#quick-start{
		text-align: center;
	}

}