#navigation{
	background: #3a4b5d;
-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.75);
position: relative;
}

#navigation div ul li a{
	color:#ddd;
}

body{
	font-family: 'Lato', sans-serif;
	background:#fefefe;
}

.flowing-alert{
	position:absolute;
	left:25%;
	top:0;
	width:50%;
	z-index: 10;
	transition: all .5s ease;
}

.alert{
	width:100%;
	opacity:0.8;
	font-weight: 700;
	text-align: center;
	height: 100%;
	padding-bottom: 2%;
}

.no-height{
	top:-200%;
}

.social-media{
	font-size:1.7rem;
	color:#767676;
	transition: all .3s ease;
	cursor: pointer;
}

.social-media:hover{
	color:inherit;
}

#footer{
	background-color: #232323;
	color:#c8c8c8;
}

